{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Ajout d'un BackupMe Agent{% endblock %}

{% block body %}
<h3>Ajout d'un BackupMe Agent</h3>
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}