{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Modification d'un BackupMe Agent {{ apiclient.name }}{% endblock %}

{% block body %}
<h3>Modification du BackupMe Agent <em>{{ apiclient.name }}</em></h3>
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}