<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BackupMe{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <!-- Chosen -->
        <link href="{{ asset('bundles/backupmemain/css/chosen.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/backupmemain/css/backupme_chosen_bootstrap.css') }}" rel="stylesheet" media="screen">
        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="row">
            <div class="col-xs-1 col-sm-2"></div>
            <div class="col-xs-10 col-sm-8">
                <div id="logo">
                    <img src="{{ asset('bundles/backupmemain/images/BackupMe_Logo.png') }}" width="300px" class="img-responsive" alt="BackupMe Logo">
                </div>
                <!-- Display Menu -->
                <div id="menu" style="margin-bottom:60px;">
                {{ knp_menu_render('BackupMeMainBundle:Builder:mainMenu', { 'style': 'tabs' }) }}
                </div>
                <div id="display-message">
                <!-- Display Flash Message -->
                {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
                </div>
                {% block body %}{% endblock %}
            </div>
            <div class="col-xs-1 col-sm-2"></div>
        </div>
        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!--<script src="{{ asset('bundles/backupmemain/js/jquery-ui-1.10.4.custom.js') }}"></script>-->
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <!-- Chosen JavaScript -->
        <script src="{{ asset('bundles/backupmemain/js/chosen.jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/backupmemain/js/backupme_chosen.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
