{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Modification du contrat {{ contract.Name }}{% endblock %}

{% block body %}
<h3>Modification du contrat <em>{{ contract.name }}</em></h3>
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}