{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Ajout d'une société{% endblock %}

{% block body %}
<h3>Ajout d'une société</h3>
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <!--<input type="submit" class="btn btn-primary" value="Ajouter" />-->
{{ form_end(form) }}
{% endblock %}
