{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Modification de la société {{ company.longName }}{% endblock %}

{% block body %}
<h3>Modification de la société {{ company.longName }}</h3>
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}