{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Modification du module {{ module.name }}{% endblock %}

{% block body %}
<h3>Modification du module <em>{{ module.name }}</em></h3>
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}